 .btn {
   position: relative;
   padding: 10px 30px;
   font-weight: 600;
   color: #001a56;
   overflow: hidden;
   transition: all 0.4s ease-in-out;
   background-color: #fff;
   z-index: 1;
   border-radius: 12px;
   font-size: 18px;
   overflow: hidden;
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
   border-radius: 99px;
 }

 .btn::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   border-radius: 12px;

 }

 .btn::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   transition: all 0.4s ease-in-out;
   z-index: -1;
   border-radius: 12px;

 }

 .maviag::before {
   background: #2388ff;
 }

 .maviag::after {
   background:#2388ff;
 }

 .ag::before {
   background: transparent;
   border: 1px solid #fff;

 }

 .ag {
   color: #fff;
 }

 .ag::after {
   background: #2388ff;
 }


 .goy::before {
   background: #2388ff;

 }

 .goy::after {
   background: #2388ff;
   ;

 }

 .btn:hover::after {
   width: 100%;
 }



 .btn:hover {
   color: #fff;
 }

 .btn svg {
   transition: 0.4s ease-in-out;

 }

 .btn:hover svg {
   transform: translateX(5px);
 }


 .maviag:hover {
   color: #2A69AC;
 }

 .xett::before {
   background: #2A69AC;
 }

 .xett {
   color: #fff;

 }

 .xett:hover::before {
   background: transparent;
 }

 .xett::after {
   background: transparent;
   border: 1px solid #fff;
 }

 /* Mobile adjustments */
@media (max-width: 640px) {
  .btn {
    padding: 14px 24px; /* əvvəl 20px 30px */
    font-size: 16px;    /* əvvəl 18px */
    gap: 6px;           /* əvvəl 8px */
  }
}